<div class="form-card">
  <h2>Créez votre compte</h2>
  <form [formGroup]="signInForm">
    <div class="form-group">
      <label for="firstname">Prénom</label>
      <input id="firstname" type="text" formControlName="firstname" />
    </div>
    <div class="form-group">
      <label for="lastname">Nom</label>
      <input id="lastname" type="text" formControlName="lastname" />
    </div>
    <div class="form-group">
      <label for="username">Email</label>
      <input id="username" type="text" formControlName="username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="text" formControlName="password" />
    </div>
    <div class="error-message">{{ errorMessage }}</div>
    <div class="action-buttons">
      <button
        type="submit"
        (click)="onSubmitSignInForm()"
        [disabled]="signInForm.invalid"
      >
        Sign in
      </button>
    </div>
  </form>
</div>
