mat-list-item {
  border-bottom: thin solid #555;
  padding: 5%;
}

.comments-row {
  display: flex;
  border-top: thin solid #555;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;
}

mat-form-field {
  width: 90%;
}

h2 {
  color: rgba(0, 0, 0, 0.54);
}
