mat-form-field {
    width: 45%;
    &.full-width {
        width: 80%;
        margin-left: 10%;
    }
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    padding: 15px;
}

small {
    padding-left: 15px;
}

.form-card {
    margin: 20px 0;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-card-actions {
    text-align: center;
}

mat-radio-group {
    padding: 10px;
}

.main-form {
    padding: 15px;
    position: relative;
}

mat-card-subtitle {
    padding: 15px;
}

.loading {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    height: inherit;
    z-index: 10;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-text {
    color: red;
}
